{% load static %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="icon" href="{% static 'img/analytics.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'tail.DateTime-master/css/tail.datetime-default-green.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/navbar-css.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/checkbox.css' %}"/>
    <link rel="stylesheet" href="{% static 'jquery-side-menu/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.min.css' %}"/>

    <script type="text/javascript" src="{% static 'tail.DateTime-master/js/tail.datetime-full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'tail.DateTime-master/langs/tail.datetime-ru.js' %}"></script>
</head>

<body>

<!--Navbar-->
<div class="navbar-analytic">
    <div class="logotype">
        <img src="{% static 'img/logo.png' %}" alt="logo">
    </div>
    <ul class="navbar-ul">
        <li class="navbar-li">
            <a class="navbar-li-a" href="{% url 'home' %}">Home
                <span class="navbar-li-a-span"></span>
                <span class="navbar-li-a-span"></span>
                <span class="navbar-li-a-span"></span>
                <span class="navbar-li-a-span"></span>
            </a>
        </li>
        <li class="navbar-li">
            <a class="navbar-li-a" href="/admin">Admin
                <span class="navbar-li-a-span"></span>
                <span class="navbar-li-a-span"></span>
                <span class="navbar-li-a-span"></span>
                <span class="navbar-li-a-span"></span>
            </a>
        </li>
        <li class="navbar-li">
            <a class="navbar-li-a" href="{% url 'settings' %}">Settings
                <span class="navbar-li-a-span"></span>
                <span class="navbar-li-a-span"></span>
                <span class="navbar-li-a-span"></span>
                <span class="navbar-li-a-span"></span>
            </a>
        </li>
        <li class="navbar-li">
            <a class="navbar-li-a" href="#">Help
                <span class="navbar-li-a-span"></span>
                <span class="navbar-li-a-span"></span>
                <span class="navbar-li-a-span"></span>
                <span class="navbar-li-a-span"></span>
            </a>
        </li>
    </ul>
</div>

<!--{#Left Up Menu#}-->
<div class="menu">
    <!-- Иконка меню -->
    <div class="icon-close">
        <img src="{% static 'jquery-side-menu/images/close-btn.png' %}" alt="">
    </div>
    <!-- Меню -->
<!--{#    <div class="scroll-lists">#}-->
        <!--ajax на сервер со списком групп-->
        <div class="groupListForm">
            <form id="groupList" enctype="multipart/form-data" action="{% url 'group_prepare' %}" method="post">{% csrf_token %}
                    <span class="selectGroup"><span>Выбрать группу</span></span>
                <ul class="group-ul">
                    {% for group in group %}
                        <div id="group-hover-{{ group.name_group }}">
                            <li class="listGroup" id="{{ group.name_group }}"><a href="#"><span>{{ group.name_group }}</span></a></li>
                        </div>
                    {% endfor %}
                </ul>
            </form>
        </div>

<!--{#        Список тегов полученный от сервера#}-->
        <div class="list-tags">
            <h5 class="tags-label" id="exampleModalScrollableTitle">Выбрать теги</h5>
            <ul class="listTags">

            </ul>
            <button type="button" id="continue" class="continue">Продолжить</button>
        </div>
<!--{#    </div>#}-->

    <!--ajax на сервер со списком тегов для запроса в influxDB-->
<div class="other">
    <form id="sqlRequestToInflux" enctype="multipart/form-data" action="{% url 'tags_influx_prepare' %}" method="post">{% csrf_token %}
        <input type="text" id="timeBefore" class="tail-datetime-field" name="dateTimeFrom"
               placeholder="Дата и время 'C'">
        <input type="text" id="timeAfter" class="tail-datetime-field" name="dateTimeAfter"
               placeholder="Дата и время 'ПО'">
        <br>
        <br>
        <div class="card-header selectGroup">Список выбранных тегов</div>
                <ul class="listOfSelectedTags"></ul>
            <button type="button" class="tagsDelete continue">Удалить выбранное</button>

        <input type="hidden" id="hiddenInput" class="hujas" name="list" value="">
        <br>
        <br>
        <button type="submit" id="submit_btn_influx_query" class="ajaxClick continue">Готово</button>
    </form>




</div>

    <!-- List of Tags -->


</div>
<div class="background">
    <div class="icon-menu">
        <img src="{% static 'jquery-side-menu/images/menu-ham-icon.png' %}" alt="">Menu
    </div>
</div>


<!-- Chart -->
<!-- {#<div class="chart-container">#} -->
<div class="chart" id="chart"></div>
<!-- {#</div>#} -->

<!-- {#<div class="chart">#} -->
<!-- {#{% autoescape off %}#} -->
<!-- {#{{ plot_div }}#} -->
<!-- {#{% endautoescape %}#} -->
<!-- {#</div>#} -->

<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-side-menu/menu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/date-time.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plotly-latest.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/AJAXScript.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plotly-chart.js' %}"></script>

</body>

</html>
