body {
  margin: auto;
}

.navbar-analytic {
  height: 80px;
  width: 100%;
  background-color: #1c1c1c;
  position: relative;
  display: flex;
}

.logotype {
  margin: auto auto auto 20px;
}

.navbar-ul {
	position: absolute;
	top: 50%;
	left: 85%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	display: flex;
}
.navbar-li {
	position: relative;
	list-style: none;
}
.navbar-li-a {
	position: relative;
	width: 100px;
	height: 40px;
	display: block;
	color: tomato;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
    text-transform: uppercase;
	transition: .5s;
	box-sizing: border-box;
}
.navbar-li-a-span {
	position: absolute;
	width: 25%;
	height: 100%;
	background-color: tomato;
	z-index: -1;
	transform-origin: top;
	transform: scaleY(0);
	transition: transform .2s;
}
.navbar-li-a:hover {
	color: #fff;
	text-decoration: none;
}
.navbar-li-a:hover span {
	transform-origin: bottom;
	transform: scaleY(1);
}
.navbar-li-a-span:nth-child(1) {
	left: 0;
	transition-delay: 0s;
}
.navbar-li-a-span:nth-child(2) {
	left: 25%;
	transition-delay: 0.15s;
}
.navbar-li-a-span:nth-child(3) {
	left: 50%;
	transition-delay: 0.30s;
}
.navbar-li-a-span:nth-child(4) {
	left: 75%;
	transition-delay: 0.45s;
}

